
@model EmployeeViewModel


@*@if (Model == null)
{
    <h1>Null Employees</h1>

}*@

<h1>Create New Employee</h1>

<div class="row">
    <div class="col-6">

        <form asp-controller="Employee" asp-action="Create" enctype="multipart/form-data" >
            <partial name="PartialViews/CreateUpdatePartialView" />

            <br />
            <input type="submit" value="add" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </form>

    </div>
   

</div>
