@model EmployeeViewModel
@{
    ViewData["Title"] = "Update";
   // var departments = new SelectList(ViewBag.departments, "Id", "Name");

}

<h1>Update Employee</h1>



<div class="row">
    <div class="col-6">

        <form asp-controller="Employee" asp-action="Update" enctype="multipart/form-data">
            <partial name="PartialViews/CreateUpdatePartialView" />
            <div class="form-group form-control">
                <label asp-for="@Model.ImgUrl" class="col-form-label"></label>
                <input class="form-control" type="text" readonly asp-for="@Model.ImgUrl" />

            </div>
            <br />
            <input type="submit" value="edit" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </form>

    </div>


</div>

