@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<div class="row">
    <div class="col-6">

        <form asp-controller="Department" asp-action="Update">
      
            <partial name="PartialViews/CreateUpdatePartialView" />
            <br />
            <input type="submit" value="update" class="btn btn-warning" />
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </form>

    </div>


</div>